@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --white: #fffffe;
  --blue: #3D85F2;
  --mint: #C8E9FC;
  --orange: #FF6262;
  --textColor: #5A5A5A;
  --lightBG: #F6F7FA;
}